*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: red;
    text-align: center;
    text-transform: capitalize;
    font-size:40px;
}
p{
    color: blue;
}
.borderone{
    /* border:50px solid red; */
    border-top: 10px solid yellow;
}
.bordertwo{
    /* border-style: solid; */
    /* all four side */

    /* border-style: solid dotted; */
    /* T&B / L&R */
    /* border-style: solid dotted double; */
    /* T*  L&R  B  */
    border-style: solid dotted double dashed;
    /* T / R / B / L */
}
.borderthree{
    border-width: 30px 20px 100px 1px;
    border-style: solid;
}
/* Magin */
.marginone{
    /* margin: 50px; */
    margin-top: 20px;
    border: 2px solid black;
}
.paddingone{
    /* padding: 50px; */
    padding-top: 20px;
    border: 2px solid black;
}

.inline{
    border: 1px solid black;
    display: inline-block;
    width: 400px;
}
.block{
    border: 1px solid red;
    width: 400px;
    display: inline-block;
}
.float_left img{
    width: 20%;
    float: left;
    margin: right 40px;
}
.clear{
    clear: both;
}
.float_right img{
    width: 20%;
    float: right;
    margin: left 40px;
}
.float_right p{
    text-align: justify;
}
/* Grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px;
    text-align: center;
    color: white;
}
.gridone,.gridtwo,.gridthree,.gridfour {
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridtwo{
    grid-column-gap: 40px;
    grid-column-gap: 30px;
    /* grid-gap: 40px 60px; */
}
.columnadd{
    grid-column-start:2 ;
    grid-column:4;
}
.rowadd{
    grid-row-start:2; 
    grid-row-end:4; 
    grid-column-start:3; 
}
/* Positon */
.relative_parent{
    border: 1px solid red;
    height: 400px;
}
.relative{
    border: 1px solid green;
    height: 200px;
    width: 400px;
    position: relative;
    top: 5%;
    left: 10%;
}
.absolute_parent{
    border: 1px solid black;
    height: 500px;
    position: relative;
}
.absolute{
    border: 1px solid yellow;
    width: 400px;
    height: 200px;
    position:absolute;
    top:100px;
    right:50px;
}
.fixed{
    position: fixed;
    top:100px;
    right: 100px;
}
.online_font{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PT_Sans_Narrow";
    src: url("../css/PT_Sans_Narrow/PTSansNarrow-Bold.ttf");
}
.offline_font{
    font-family: "PT_Sans_Narrow";
}
