*{
    margin: 0;
    padding: 0;
}

/* NAV */

.nav-top{
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.nav_logo{
    width: 150px;
    height: auto;
    margin-left: 100px;
    margin-top: 10px;
}

.search{
    display: flex;
    gap: 10px;
}

.search input{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.phone{
    font-size: 14px;
    white-space: nowrap;
}
.icons{
    margin-right: 80px;
}
.icons i{
    font-size: 18px;
    margin-left: 12px;
    cursor: pointer;
    
}

.navbar{
    display: inline-block;
    margin-left: 100px;
}

.navbar li{
    display: inline-block;
    margin: 0 25px;
}
.nav{
    display: inline-block;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.08);
}
#nav{
    position: fixed;
    top: 0%;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* Nav end */

/* <!-- Start bunner --> */
/* Banner spacing (because navbar is fixed) */
.banner-section{
    margin-top: 140px;
}

/* Banner container */
.banner{
    width: 100%;
}

/* Banner image */
.banner_img{
    width: 100%;
    height: 100vh;
}

.banner_btn{
    display: inline-block;
    padding: 14px 35px;
    background-color: #2d3892;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    border-radius: 30px;  
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translateY(-50%);
    color: #000;
}

.banner_btn:hover{
    background-color: #1f2a70;
}
/* banner  end*/
/* promotion Phone */
#promotion{
    padding-top: 80px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.promotion{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    grid-gap: 30px;

}
.promotion_hover img{
    width: 100%;
    height: auto;
}
.promotion_item{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);

}
.promotion_name a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 18px;
    display: inline-block;
}
.promotion_hover{
    overflow: hidden;
    display: inline-block;
}
/* End promotion  */

#latest{
    padding-top: 80px;
    width: 80%;
    margin: auto;
}

.latest_card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.latest_img{
    width: 100%;
    height: 100%;
}
.latest_item{
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
    border: 1px solid #ececec;
    padding: 5px;
}
.latest_item h3{
    padding: 5px 15px;
    margin-top: 15px;
}
.latest_item h3 a{
    text-decoration: none;
    color: black;

}
.latest_item p{
    padding: 5px 15px;
    color: rgb(65, 64, 64);
}
.latest_item p span{
    float: right;
}
.clear{
    clear: both;
}
.detail_btn{
    padding: 10px 25px 10px 20px;
    background-color: #2d3892;
    color: #ffffff;
    margin-top: 20px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.latest_hover{
    overflow: hidden;
    height: 260px;
}

.latest_hover:hover img{
    transform: scale(1.1);
    transition-duration: .7s;
}


