*{
    margin: 0;
    padding: 0;
}

/* start nav */
.nav_logo{
    width: 240px;
    height: 80px;
    margin-left: 80px;
    margin-top: 10px;
}
.navbar{
    float: right;
}
.navbar li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.book_now{
    background-color: #2d3892;
    border-radius: 8px;
    padding: 10px 20px;
    color: #ffffff !important;
    border: 1px solid #2d3892;
}

.book_now:hover{
    background-color: #ffffff;
    color: #2d3892 !important;
    border: 1px solid #2d3892;
}
.nav_item:hover{
    color: #2d3892;
    transform: translateY(-5px);
    display: inline-block;
    transition-duration: 0.7s;
}
.nav{
    box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.08);
}
#nav{
    position: fixed;
    top: 0%;
}

/* end nav */

/* start banner */
.bunner_img{
    width: 100%;
}
.bunner{
    position: relative;
}
.bunner_text{
    position: absolute;
    top: 40%;
    width: 100%;
    color: #ffffff;
    text-align: center;
}
.bunner_text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.bunner_text input{
    padding: 12px 20px;
    outline: none;
    border: 1px solid #2d3892;
    border-radius: 5px 0 0 5px;
    width: 300px;
}
.bunner_text button{
    padding: 12px 20px;
    border: 1px solid #2d3892;
    background-color: #2d3892;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
}
/* end banner    */

/* start popular destination    */
#popular{
    padding-top: 80px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.popular{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    grid-gap: 30px;

}
.popular_hover img{
    width: 100%;
    height: 100%;
}
.popular_item{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);

}
.popular_name a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 18px;
    display: inline-block;
}
.popular_item:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);

}
.popular_hover{
    overflow: hidden;
    display: inline-block;
}
.popular_item:hover .popular_img{
    transform: scale(1.1);
    transition-duration: .7s;
}

/* end popular destination */

/* start package */
#package{
    padding-top: 80px;
    width: 80%;
    margin: auto;
}

.package_card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.package_img{
    width: 100%;
    height: 100%;
}
.package_item{
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
    border: 1px solid #ececec;
    padding: 5px;
}
.package_item h3{
    padding: 5px 15px;
    margin-top: 15px;
}
.package_item h3 a{
    text-decoration: none;
    color: black;

}
.package_item p{
    padding: 5px 15px;
    color: rgb(65, 64, 64);
}
.package_item p span{
    float: right;
}
.clear{
    clear: both;
}
.detail_btn{
    padding: 10px 25px 10px 20px;
    background-color: #2d3892;
    color: #ffffff;
    margin-top: 20px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.package_hover{
    overflow: hidden;
    height: 260px;
}

.package_hover:hover img{
    transform: scale(1.1);
    transition-duration: .7s;
}


/* end package */

/* start dream */
#dream{
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;

}
.nature_video{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.dream_overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;

}
.dream_container{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 120px;
    gap:50px;
}
.nature_left video{
    width: 100%;
    border-radius: 5px;
    
}
